* {
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	font-size: 12px;
}
html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	background: #F7F7F7;
}
a, a:visited {
	color: #975050;
}
a:hover, a:visited:hover {
	color: #630707;
}
#posts-wrapper {
	overflow: auto;
	height: 338px;
}
.widget-title, .widget-title a:visited, .widget-title a, .widget-title:hover {
	color: #525252;
	font-weight: bold;
	font-size: 0.85em;
	padding: 5px 0px;
	text-align: center;
	width: 100%;
}
#wrapper {
	width: 100%;
	min-height: 100%;
}
.logo-wrapper {
	margin-top: 5px;
	color: #8D4444;
	font-weight: bold;
	max-width: 90%;
}
.message {
	font-size: 1.4em; color: #B8B8B8; background: #1A1A1A; padding: 40px;
}
.blogTitle, a.blogTitle, a:visited.blogTitle {
	color: #888;
	margin-right: 10px;
	display: inline-block;
	font-size: 0.8em;
}
a:hover.blogTitle, a:hover:visited.blogTitle {
	color: black;
}
a:hover.postTitle {
	text-decoration: none;
	color: #410707;
}
a.postTitle, a:visited.postTitle {
	text-decoration: none;
	color: #BA1212;
}
a:hover.postTitle, a:visited:hover.postTitle {
	color: #630707;
	text-decoration: none;
}
a.postTitle, a:visited.postTitle {
	text-decoration: none;
	color: #BA1212;
}
.postTitle {
	font-size: 0.8em;
	font-weight: bold;
}
.ss-entry-wrapper:hover {
background: #EEE;
}
.ss-entry-wrapper {
padding: 4px;
}