RewriteEngine On
RewriteRule ^real-time/?$ real-time/realtime.php [L]
RewriteRule ^search/default/?$ scripts/feed.php [L]
RewriteRule ^feed/posts/?$ scripts/feed.php [L]
RewriteRule ^widget/default/?$ scripts/widget.php [L]
RewriteRule ^post/([0-9]+)/badge/?$ scripts/post-badge.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]