[page-layouts]
#, page-id,, location-on-page, tab-position, tab-name, show, module-id, module-id, module-id...
home, center, 0, "Home", true, slideshow, editors-picks, citation-posts
home, right, 0, "Sidebar", true,  main-text-1, latest-posts, user-activity
home, right, 1, "Filters", false, filters
post-profile, center, 0, "Post Profile", true, post-profile
user-profile, center, 0, "User Profile", true, user-profile
group-profile, center, 0, "Group Profile", true, group-profile
settings, center, 0, "", true,  settings
settings, right, 0, "Sidebar", true, latest-posts, user-activity
settings, right, 1, "Filters", false, filters
submit, center, 0, "", true, submit
submit, right, 0, "Sidebar", true, latest-posts, user-activity
submit, right, 1, "Filters", false, filters
add-post, center, 0, "", true, add-post
add-post, right, 0, "Sidebar", true, latest-posts, user-activity
add-post, right, 1, "Filters", false, filters
approve, center, 0, "", true, approve
approve, right, 0, "Sidebar", true, latest-posts, user-activity
approve, right, 1, "Filters", false, filters
generate-citations, center, 0, "", true, generate-citations
generate-citations, right, 0, "Sidebar", true, latest-posts, user-activity
generate-citations, right, 1, "Filters", false, filters
posts, center, 0, "", true, posts
posts, right, 0, "Sidebar", false, citation-posts-mini, user-activity
posts, right, 1, "Filters", true, filters
sources, center, 0, "", true, sources
sources, right, 0, "Sidebar", false, latest-posts, user-activity
sources, right, 1, "Filters", true, filters
search, center, 0, "", true, search
search, right, 0, "Sidebar", true, latest-posts, user-activity
search, right, 1, "Filters", false, filters
my-sites, center, 0, "", true, my-sites
my-sites, right, 0, "Sidebar", true, latest-posts, user-activity
my-sites, right, 1, "Filters", false, filters
my-posts, center, 0, "", true, my-posts
my-posts, right, 0, "Sidebar", true, latest-posts, user-activity
my-posts, right, 1, "Filters", false, filters
my-groups, center, 0, "", true, my-groups
my-groups, right, 0, "Sidebar", true, list-groups, user-activity
my-groups, right, 1, "Filters", false, filters
claim, center, 0, "", true, claim
claim, right, 0, "Sidebar", true, latest-posts, user-activity
claim, right, 1, "Filters", false, filters
administer-sources, center, 0, "", true, administer-sources
administer-sources, right, 0, "Sidebar", true, latest-posts, user-activity
administer-sources, right, 1, "Filters", false, filters
administer-users, center, 0, "", true, administer-users
administer-users, right, 0, "Sidebar", true, latest-posts, user-activity
administer-users, right, 1, "Filters", false, filters
administer-posts, center, 0, "", true, administer-posts
administer-posts, right, 0, "Sidebar", true, latest-posts, user-activity
administer-posts, right, 1, "Filters", false, filters
help, center, 0, "", true, help
help, right, 0, "Sidebar", true, latest-posts, user-activity
help, right, 1, "Filters", false, filters
about, center, 0, "", true, about
about, right, 0, "Sidebar", true, latest-posts, user-activity
about, right, 1, "Filters", false, filters
api, center, 0, "", true, api
api, right, 0, "Sidebar", true, latest-posts, user-activity
api, right, 1, "Filters", false, filters
contact, center, 0, "", true, contact
contact, right, 0, "Sidebar", true, latest-posts, user-activity
contact, right, 1, "Filters", false, filters
widget, center, 0, "", true, widget
widget, right, 0, "Sidebar", true, latest-posts, user-activity
widget, right, 1, "Filters", false, filters
404, center, 0, "", true, 404
404, right, 0, "Sidebar", true, latest-posts, user-activity
404, right, 1, "Filters", false, filters
login, center, 0, "", true, login
register, center, 0, "", true, register
sync, center, 0, "", true, sync
crop, center, 0, "", true, crop
test, center, 0, "", true, test
test, right, 0, "Sidebar", true, latest-posts, user-activity
test, right, 1, "Filters", false, filters
#, TODO, be, able, to, define, a, reusable, right, sidebar,, etc?

[page-info]
home, /, "Science News Aggregator"
login, /login, "Log In"
register, /register, Register
posts, /posts, Posts
sources, /index, Index
search, /search, Search
post-profile, /post/([0-9]+), Post Profile
user-profile, /user/([A-Za-z][A-Za-z0-9_]+), User Profile
group-profile, /group/([0-9]+), Group Profile
settings, /user/([A-Za-z][A-Za-z0-9_]+)/settings, Settings
crop, /edit-image, Crop
submit, /submit, Add Site
add-post, /add-post, Add Post
approve, /approve, Approve Sites
generate-citations, /generate-citations, Generate Citations
my-sites, /my-sites, My Sites
my-posts, /my-posts, My Posts
my-groups, /my-groups, My Groups
claim, /claim/([0-9]+), Claim
administer-sources, /administer-sources, Administer Sources
administer-users, /administer-users, Administer Users
administer-posts, /administer-posts, Administer Posts
help, /help, Help
about, /about, About
api, /api, API
contact, /contact, Contact Us
widget, /widget, Widget
sync, /sync, Sync
404, /404, 404
test, /style-test, test

[navigation-items]
/, s440, Home
/submit, navi-item, Add Site, 
/generate-citations, s740, Generate Citations
/posts, navi-item, Posts
/index, navi-item, Index
/help, s740, Help
/about, s240, About
/api, s440, API
/contact, s440, Contact, Us

[modules]
#, module-id, file-name, php-function, parameters...
# TODO write new php function localFile to take name of local file and source it (so we write PHP content in a local file and it includes that)
main-text-1, what-is-scienceseeker.php, localFile
slideshow, slideshow.php, displaySlideShow
citation-posts, posts.php, displayFeed, type=post&filter0=has-citation&value0=true&n=10, 0, 1, 0
citation-posts-mini, posts.php, displayFeed, type=post&filter0=has-citation&value0=true&n=5, 0, 1, 0
about-text, about-us.php, localFile
latest-posts, posts.php, displayFeed, type=post&n=5, 0, 1
posts, posts.php, displayFeed, type=post, 1, 0
sources, sources.php, displayResources
list-groups, list-groups.php, pluginListGroups
user-activity, user-activity.php, displayUserActivity, "", 8
submit, submit.php, addSite
add-post, add-post.php, pluginAddPost
approve, approve.php, approveSites
generate-citations, generate-citations.php, generateCitations
my-sites, my-sites.php, displayMySites
my-posts, my-posts.php, displayMyPosts
my-groups, my-groups.php, pluginMyGroups
administer-sources, administer-sources.php, adminSources
administer-users, administer-users.php, adminUsers
administer-posts, administer-posts.php, adminPosts
settings, settings.php, userSettings
claim, claim.php, claimSite
help, help.php, localFile
about, about.php, localFile
api, api.php, localFile
footer-content, footer-content.php, localFile
contact, contact.php, displayContactForm
user-panel, user-panel.php, displayUserPanel
text-user-panel, user-panel.php, displayTextUserPanel
editors-picks, posts.php, displayFeed, type=post&filter0=recommender-status&value0=editor&n=5&sort=recommendation-date&order=desc, 0, 1, 1
get-feed, get-feed.php, getFeed, http://blog.scienceseeker.org/feed/posts
filters, filters.php, displayFilters
post-profile, post-profile.php, displayPostProfile
user-profile, user-profile.php, displayUserProfile
group-profile, group-profile.php, displayGroupProfile
search-form, search.php, searchForm
search, search.php, searchPage, 0, 30, 0, 1
widget, widget.php, displayWidgetPage
404, 404.php, displayNotFound
login, login.php, displayLogin
register, register.php, displayRegistration
sync, sync.php, syncPage
crop, edit-image.php, editImage
test, test.php, localFile
#, TODO, or, allow, redirection, to, local, login.php, file?

[module-titles]
posts, "Posts"
sources, "Index"
search, "Search"
citation-posts, "Posts with Citations"
citation-posts-mini, "Posts with Citations"
latest-posts, "Latest Posts"
editors-picks, "Editors' Picks"
user-activity, "User Activity"
generate-citations, "Generate Citations"
claim, "Claim your site"
my-sites, "My Sites"
my-posts, "My Posts"
my-groups, "My Groups"
manage-groups, "Manage Groups"
administer-sources, "Administer Sources"
administer-users, "Administer Users"
administer-posts, "Administer Posts"
help, "Help"
about, "About"
api, "API"
contact, "Contact, Us"
submit, "Submit a new site"
add-post, "Add a new post"
approve, "Approve new sites"
settings, "Settings"
widget, "Get the widget!"